body {
    background-color: #010814;
    color: #056cc0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div {
    margin-top: 3%;
}

#homebutton {
    background: transparent;
    size: 50px;
    max-height: 50px;
    max-width: 50px;
    border-width: 5px;
    border-radius: 10%;
    border-color: #000;
    text-align: left;

    position: fixed;
    top: 0;
    left: 0;
}

.pageoption {
    color: #056cc0;
    align-items: center;
    display: grid;
    size: 50px;
    max-width: 50px;
}