/* Sets standards (Can be altered) */
body {
    background-color: #010814;
    color: #056cc0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

/* Navigation */
#homebutton {
    background: transparent;
    size: 50px;
    max-height: 50px;
    max-width: 50px;
    border-width: 5px;
    border-radius: 10%;
    border-color: #000;
    text-align: left;

    position: fixed;
    top: 0;
    left: 0;
}

#PageOptionsMenu {
    
    width: 125px;
    height: calc(100% - 50px);
    
    max-width: 125px;
    max-height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    left: 0;
}

#topbar {
    width: calc(100%-125px);
    height: 75px;
    padding-top: 10px;
    margin: -1%;
    box-sizing: border-box;
}

.navigation {
    background-color: #1f2125;
}

.pageoption {
    color: #056cc0;
    display: grid;
    size: 100x; 
    max-width: 100px; 
    margin: 5%;
}