body {
    background-color: #010814;
    color: #056cc0;
}

header {
    font-size: 20px;
    font-weight: bold;
}

button {
    align-items: center;
    background-color: #111317;
    color: #056cc0;
}