body {
    text-align: center;
}

.clock {
    display:block;
    margin: 0 auto;
    max-width: 80%;
    
    .Time {
        background-color: #111317;
        display:inline-block;
        padding: 2rem;
        margin: 0 1rem;
        font-size: 2.5rem;
        width: 50px;
        text-align:center; 
        font-weight: bold;
        border-radius: 5%;
        
        &[data-value*="days"]:after {
            display:block;
            font-size: .75rem;
            margin-top: .25rem;
            content:"Days";
        }
        &[data-value*="hours"]:after {
            display:block;
            font-size: .75rem;
            margin-top: .25rem;
            content:"Hours";
        }
        &[data-value*="minutes"]:after {
            display:block;
            font-size: .75rem;
            margin-top: .25rem;
            content:"Minutes";
        }
        &[data-value*="seconds"]:after {
            display:block;
            font-size: .75rem;
            margin-top: .25rem;
            content:"Seconds";
        }
    }
}

#homebutton {
    text-align: left;
}